:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --bg-color-transparent: #24242442;
  --color-accent: greenyellow;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: black;
    --bg-color: #cfcfd9;
    --bg-color-transparent: #cfcfd956;
    --color-accent: rgb(30, 44, 8);
  }
}

/* 
  Import fonts   
*/

/* Inter italic font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Inter regular font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-100% + 2rem));
  & > div {
    font-weight: 600;
  }
}

#container > div:last-child {
  color: var(--color-accent);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}
